.signinForm {
    max-width: 544px;
    width: 100%;
    margin: 36px auto 117px;
    border: 1px solid rgba(231, 231, 231, 1);
}

.signinWrapperTabs {
    border-bottom: 1px solid rgba(231, 231, 231, 1);
    margin-bottom: 33px;
    padding: 0 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signinTab {
    width: 50%;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    color: rgba(168, 168, 168, 1);
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    border-bottom: 2px solid #fff;

    &:active {
        border-bottom: 2px solid rgba(49, 48, 55, 1);
    }
}

.signinWrapperPanel,
.signupWrapperPanel {
    margin: 0 32px 40px;
}

.signinWrapperEmail,
.signinWrapperPassword,
.signupWrapperName,
.signupWrapperEmail,
.signupWrapperPassword,
.signupWrapperConfirm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    margin-bottom: 16px;
}

.signinWrapperPassword {
    margin-bottom: 8px;
}

.signupWrapperConfirm {
    margin-bottom: 40px;
}

.signinLabel,
.signupLabel {
    font-family: 'Helios', sans-serif;
    font-size: 16px;
    line-height: 32px;
    font-weight: 700;
    color: rgba(49, 48, 55, 1);
}

.signinInput,
.signupInput {
    width: 100%;
    border: 1px solid rgba(231, 231, 231, 1);
    padding: 14px 20px 10px;

    &::placeholder {
        font-family: 'Helios', sans-serif;
        font-size: 16px;
        line-height: 32px;
        font-weight: 400;
        color: rgba(168, 168, 168, 1);
    }
}

.signinForgot {
    font-family: 'Helios', sans-serif;
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
    color: rgba(49, 48, 55, 1);
    margin-bottom: 40px;
    display: block;
}

.signinBtn,
.signupBtn {
    width: 100%;
    cursor: pointer;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(49, 48, 55, 1);
    text-transform: uppercase;
    text-align: center;
    padding: 16px;
    border: none;
}