.bookVisual {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 128px;
    margin-bottom: 72px;
}

.pageLink {
    width: 42px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}