.favoritesText {
    margin-bottom: 72px;
}

.favoritesLink {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 37px;
}

.favoritesBooksCards {
    margin-bottom: 72px;
}

.favoritesBookCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(231, 231, 231, 1);
    margin-bottom: 48px;
    padding-bottom: 49px;
}

.favoritesWrapperImgTitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
}

.favoritesWrapperImg {
    max-width: 256px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.favoritesImg {
    width: 65%;
    height: 100%;
    object-fit: cover;
}

.favoritesTitle {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: rgba(49, 48, 55, 1);
    margin-bottom: 8px;
}

.favoritesSubtitle {
    font-family: 'Helios', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: rgba(168, 168, 168, 1);
    margin-bottom: 24px;
}

.favoritesWrapperOther {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 187px;
}

.favoritesPrice {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: rgba(49, 48, 55, 1);
}

.favoritesWrapperRating {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.favoritesRating {
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.favoritesWrapperIcon {
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:active {
        transform: scale(2);
    }
}